:root{
    --cor-fundo: #f9f9ee;
    --submit-button-color: #ff3131;
    --cor-home:#392d29;
}


body{
    background-color: var(--cor-fundo) !important;
}
#home{
    background-color: var(--cor-home) !important;
}


/*----------------------loggin screen------------------------*/

#section-login{
    margin-top: 60px;
}

#div-login-screen{
    max-width: 440px !important;
}

.div-flex-collum{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img-login-screen{
    max-height: 520px !important;
}

.div-inputs{
    margin-top: 15px;
    margin-bottom: 30px !important;
}

.label-login{
    margin-left: 6px;
    color: var(--label-login-color) !important;
    font-size: 20px !important;
    font-weight: 670;
}

.input-login{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--label-login-color) !important;
    color: #2c2c2c;
    font-weight: 600;
}

.submit-button{
    background-color: var(--submit-button-color) !important;
    padding: 2px;
    font-size: 30px;
    margin-top: 18px !important;
}

@font-face {
  font-family: 'brixton';
  src: url('assets/fonts/brixton-sans-rg.ttf') format('truetype')
}

@font-face {
  font-family: 'Cagliostro';
  src: url('assets/fonts/Cagliostro-Regular.ttf') format('truetype')
}

@font-face {
  font-family: 'Sawarabi';
  src: url('assets/fonts/SawarabiMincho-Regular.ttf') format('truetype')
}

    .sidebar {
      width: 250px;
      height: 100vh;
      position: fixed;
      background-color: var(--cor-home);
      color: white;
      padding: 20px;
    }

    .sidebar img {
      width: 100%;
      border-radius: 10px;
   
    }

    .sidebar a {
      display: block;
      color: #ddd;
      padding: 12px;
      border-radius: 10px;
      text-decoration: none;
      margin-bottom: 10px;
    }

    .sidebar a.active,
    .sidebar a:hover {
      background-color: #ff2c2c;
      color: white;
    }

    .logout {
      position: absolute;
      bottom: 20px;
      width: 80%;
      border: 2px solid red;
      border-radius: 10px;
      padding: 10px;
      text-align: center;
    }


    .content {
      margin-left: 270px;
      padding: 30px;
    }

    #logocontainer{
        background-color: var(--cor-fundo);
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 10px;
    }
