:root{
    --cor-fundo: #f9f9ee;
    --submit-button-color: #ff3131;
<<<<<<< HEAD
    --label-login-color: #2c2c2c;
=======
    --cor-home:#392d29;
>>>>>>> 86fcccc7c56d7ecaa22a101169327d9d88603cd3
}


body{
    background-color: var(--cor-fundo) !important;
}
#home{
    background-color: var(--cor-home) !important;
}


/*----------------------loggin screen------------------------*/

#section-login{
    margin-top: 60px;
}

#div-login-screen{
    max-width: 440px !important;
}

.div-flex-collum{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img-login-screen{
    max-height: 520px !important;
}

.div-inputs{
    margin-top: 15px;
    margin-bottom: 30px !important;
}

.label-login{
    margin-left: 6px;
    color: var(--label-login-color) !important;
    font-size: 20px !important;
    font-weight: 670;
}

.input-login{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--label-login-color) !important;
    color: #2c2c2c;
    font-weight: 600;
}

.submit-button{
    background-color: var(--submit-button-color) !important;
    padding: 2px;
    font-size: 30px;
    margin-top: 18px !important;
}

@font-face {
  font-family: 'brixton';
  src: url(assets/fonts/brixton-sans-rg.ttf) format(ttf)
}

@font-face {
  font-family: 'Cagliostro';
  src: url(assets/fonts/Cagliostro-Regular.ttf) format(ttf)
}

@font-face {
  font-family: 'Sawarabi';
  src: url(assets/fonts/SawarabiMincho-Regular.ttf) format(ttf)
}