:root{
    --cor-fundo: #f9f9ee;
    --submit-button-color: #ff3131;
    --label-login-color: #2c2c2c;
    --cor-home:#392d29;
}


body{
    background-color: var(--cor-fundo) !important;
    align-items: center;
    display: block;
}
#home{
    background-color: var(--cor-home) !important;
}


/*----------------------loggin screen------------------------*/

#section-login{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#div-login-screen{
    max-width: 420px !important;
}

.div-flex-collum{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#img-login-screen{
    max-height: 500px !important;
    caret-color: transparent;
}

.div-inputs{
    margin-top: 15px;
    margin-bottom: 10px !important;
}

.label-login{
    font-family: 'brixton', sans-serif;
    margin-left: 6px;
    color: var(--label-login-color) !important;
    font-size: 19px !important;
    font-weight: 670;
}

.input-login{
    padding: 10px;
    border-radius: 10px;
    border: 2px solid var(--label-login-color) !important;
    color: #2c2c2c;
    font-weight: 580;
}

.submit-button{
    background-color: var(--submit-button-color) !important;
    padding: 2px;
    font-size: 30px;
    margin-top: 18px !important;
    border-radius: 10px !important;
}

#img-footer-login-screen{
    max-height: 45px;
    position: absolute;
    left: 50%;
    top: 95%;
    transform: translate(-50%, -50%);
}

.footer{
    margin: 10px;
}


#mensagem {
    margin: 0;
    padding: 0;
    visibility: hidden;
    height: 0;
}

#erro {
    margin: 0;
    padding: 0;
    visibility: visible;
}

@font-face {
  font-family: 'brixton';
  src: url('assets/fonts/brixton-sans-rg.ttf') format('ttf')
}

@font-face {
  font-family: 'Cagliostro';
  src: url('assets/fonts/Cagliostro-Regular.ttf') format('ttf')
}

@font-face {
  font-family: 'Sawarabi';
  src: url('assets/fonts/SawarabiMincho-Regular.ttf') format('ttf')
}